<?php
 use Rdl\Request\Request;
?>
<script>
$(function(){
jQuery.fn.liTranslit = function(options){
    // настройки по умолчанию
    var o = jQuery.extend({
        elName: '.s_name',        //Класс елемента с именем
        elAlias: '.s_alias'        //Класс елемента с алиасом
    },options);
    return this.each(function(){
        var elName = $(this).find(o.elName),
            elAlias = $(this).find(o.elAlias),
            nameVal;
        function tr(el){
            nameVal = el.val();
            inser_trans(get_trans(nameVal));
        };
        elName.keyup(function () {
            tr($(this));
        });    
        tr(elName);
        function get_trans() {
            en_to_ru = {
                'а': 'a',
                'б': 'b',
                'в': 'v',
                'г': 'g',
                'д': 'd',
                'е': 'e',
                'ё': 'jo',
                'ж': 'zh',
                'з': 'z',
                'и': 'i',
                'й': 'j',
                'к': 'k',
                'л': 'l',
                'м': 'm',
                'н': 'n',
                'о': 'o',
                'п': 'p',
                'р': 'r',
                'с': 's',
                'т': 't',
                'у': 'u',
                'ф': 'f',
                'х': 'h',
                'ц': 'c',
                'ч': 'ch',
                'ш': 'sh',
                'щ': 'sch',
                'ъ': '',
                'ы': 'y',
                'ь': '',
                'э': 'je',
                'ю': 'ju',
                'я': 'ja',
                ' ': '_',
                'і': 'i',
                'ї': 'i'
            };
            nameVal = nameVal.toLowerCase();
            nameVal = trim(nameVal);
            nameVal = nameVal.split("");
            var trans = new String();
            for (i = 0; i < nameVal.length; i++) {
                for (key in en_to_ru) {
                    val = en_to_ru[key];
                    if (key == nameVal[i]) {
                        trans += val;
                        break
                    } else if (key == "ї") {
                        trans += nameVal[i]
                    };
                };
            };
            return trans;
        }
        function inser_trans(result) {
            elAlias.val(result);
        }
        function trim(string) {
            string = string.replace(/'|"|<|>|\!|\||@|#|$|%|^|\^|\$|\\|\/|&|\*|\(\)|-|\|\/|;|\+|№|,|\?|_|:|{|}|\[|\]/g, "");
            string = string.replace(/(^\s+)|(\s+$)/g, "");
            return string;
        };
    });
};

var title = "Категории";
$(document).ready(function(){
	$('#form_category').liTranslit({
	        elName: '#category_title',        //Класс елемента с именем
	        elAlias: '#category_alt'        //Класс елемента с алиасом
	    });
	});
	
	var connect = 0;
	$('#form_category').on('submit', function(){
		if(connect != 0)
			return false;

		var name = $('input[name=name]').val();
		var altname = $('input[name=altname]').val();
		var parent_category = $('input[name=parent_category]').val();

		if(name.length <= 0){
			toastr.error("Название категории должно быть заполнено", title);
			return false;
		}

		if(altname.length <= 0){
			toastr.error("Альтернативное название должно быть заполнено", title);
			return false;
		}

		connect = 1;
		$.ajax({
    		type: 'POST',
    		url: '/admin/catalog/category/',
    		data: $(this).serialize(),
    		dataType: 'json',
    		success: function(data){
    			connect = 0;
    			if(data.class == 'error')
    				toastr.error(data.message, title);
    			else if(data.class == 'warning')
    				toastr.warning(data.message, title);
    			else if(data.class == 'success'){
    				toastr.success(data.message, title);
    				
    				if(data.category_id != undefined){
    					$('#form_category').append('<input name="category_id" type="hidden" value="' + data.category_id + '">');
    				}
    			}
    		}
  		});

		return false;
	});
});
</script>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			<?php if(Request::Get('id')) { ?>
				Редактировать категорию
			<?php } else { ?>
				Создать категорию
			<?php } ?>
		</div>
		<div class="panel-options">
			<button type="button" onclick="$('#form_category').submit();" class="btn btn-xs btn-success" style="margin-top: 10px;">
				<i class="entypo-thumbs-up"></i>
				<span>Сохранить</span>
			</button>
		</div>
	</div>
	<div class="panel-body">
	<form method="POST" role="form" class="form-horizontal form-groups-bordered" id="form_category">
	<?php echo Rdl\Security\Security::getInstance()->getPostString();?>
	
	<?php if(isset($this->arData['id'])) { ?>
		<input name="category_id" type="hidden" value="<?php echo $this->arData['id']?>">
	<?php } ?>

		<div class="form-group">
			<label for="category_title" class="col-sm-3 control-label">Название</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" id="category_title" name="name" placeholder="Название" value="<?php if(isset($this->arData['name'])) echo $this->arData['name']?>">
			</div>
		</div>
		<div class="form-group">
			<label for="category_alt" class="col-sm-3 control-label">Альтернативное название</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" id="category_alt" name="altname" placeholder="Альтернативное название" value="<?php if(isset($this->arData['altname'])) echo $this->arData['altname']?>">
			</div>
		</div>
		<div class="form-group">
			<label for="category_alt" class="col-sm-3 control-label">Родительская категория</label>
			<div class="col-sm-7">
				<select class="form-control" name="parent_category">
						<option value="0">-</option>
					<?php foreach($this->arCategory['category'] as $key => $arCategory) { ?>
						<option value="<?php echo $arCategory['id']?>"<?php if(isset($this->arData['parent_category']) && $arCategory['id'] == $this->arData['parent_category']) echo 'selected'?>><?php echo $arCategory['name'] ?></option>
					<?php } ?>
				</select>
			</div>
		</div>
	</form>
	</div>
</div>