<form class="form-horizontal" role="form" method="POST">
<?php echo Rdl\Security\Security::getInstance()->getPostString(); ?>
<input type="hidden" name="request_page" value="<?php echo $_SERVER['REQUEST_URI']?>" />
  <div class="form-group">
  	<p class="description">Авторизуйтесь с помощью своего адреса электронной почты и пароля</p>
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" name="user_login" class="form-control" id="inputEmail3" placeholder="Электронная почта">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Пароль:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="user_password" id="inputPassword3" placeholder="Пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox text-left">
        <label>
          <input type="checkbox"> Запомнить пароль
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 text-center">
        <button type="submit" class="btn btn-success btn-lg btn-block">Войти и продолжить <span class="glyphicon glyphicon-share-alt"></span></button>
    </div>
  </div>
</form>