/* Top navigation
================================================== */

.topNav { background: url(images/topnavBg.png) repeat-x; display: block; color: #eeeeee; margin: 0 0 0 -2px; padding: 3px 0; position: relative; width: 100%; z-index: 999; }
.userNav { border-left: 1px solid #39454f; border-right: 1px solid #39454f; margin-right: -2px; }
.wrapper { position: relative; margin: 0 3%; }
.welcome { float: left; margin-left: -4px; }
.welcome img { float: left; margin: 6px 8px 6px 0 }
.welcome span { padding: 4px 5px; display: block; white-space: nowrap; float: left; font-size: 11px; }

.userNav { float: right; z-index: 6000; position: relative; font-size: 11px; margin-right: 5px; }
.userNav ul { border-left: 1px solid #39454f; border-right: 1px solid #39454f; margin-right: -1px; }
.userNav ul li { display: inline; float: left; position: relative; cursor: pointer; border-left: 1px solid #1c262b; border-right: 1px solid #1c262b; margin-left: -1px; }
.userNav ul li a { color: #eeeeee; text-decoration: none; display: block; float: left; border-left: 1px solid #39454f; border-right: 1px solid #39454f; }
.userNav ul li a:hover { border-left: 1px solid #293138; border-right: 1px solid #293138; background-color: #293138; }
.userNav ul li span { display: block; padding: 4px 15px 4px 8px; float: left; }
.userNav ul li img { float: left; display: block; margin: 9px 2px 0px 14px; }

ul.userDropdown { position: absolute; left: -9px; display: none; top: 35px; background: url(images/subArrow.png) no-repeat 50% 0; padding: 0 1px 1px 1px; z-index: 100; border: none; }
ul.userDropdown li { display: block; float: none; border-bottom: 1px solid #1c252b; border-top: 1px solid #404950; background: url(images/navBg.jpg); }
ul.userDropdown li:hover { border-top: 1px solid #374047; }
ul.userDropdown li:first-child { margin-top: 6px; border-top: none; -webkit-border-top-right-radius: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px; }
ul.userDropdown li:last-child { -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px; }
ul.userDropdown li a { width: 100px; padding: 6px 10px 7px 32px; font-size: 11px; text-transform: none; font-weight: normal; float: none; border: none; }
ul.userDropdown li a:hover { border-right: none; border-left: none; }

.sAdd { background: url(images/subAdd.png) no-repeat 11px; }
.sInbox { background: url(images/subInbox.png) no-repeat 11px; }
.sOutbox { background: url(images/subOutbox.png) no-repeat 11px; }
.sTrash { background: url(images/subTrash.png) no-repeat 11px; }