<?php 
	if($this->Registry->SessionStorage->Message){
		$arMessage = json_decode($this->Registry->SessionStorage->Message);
?>
<div class="alert alert-<?php echo $arMessage->class?>">
	<a class="close" data-dismiss="alert">×</a>
	<?php echo $arMessage->message?>
</div>
<?php
	unset($this->Registry->SessionStorage->Message);
	}
?>
<script>
	$(document).ready(function(){
		var connect = 0;
		$('#optionsForm').on('submit', function(){
			if(connect != 0) return false;

			if($('input[name=title]').val().length <= 0){
				toastr.warning('Название сайта обязательно для заполнения');
			}
			if($('input[name=charset]').val().length <= 0){
				toastr.warning('Кодировка сайта обязательна к заполнению');
			}

			connect = 1;
			$.ajax({
        		type: 'POST',
        		url: '/admin/settings/site/',
        		data: $(this).serialize(),
        		dataType: 'json',
        		success: function(data){
        			$('.csrf_detected_input').remove();
        			$('#optionsForm').append(data.csfr_detect);
        			if(data.class == 'success'){
        				toastr.success(data.message);
        			} else if(data.class == 'error'){
        				toastr.error(data.message);
        			}
        			connect = 0;
        		}
      		}).error(function(){
      			toastr.error('Попытка взлома CSFR');
      			location.reload(15);
      		});

        	return false;
		});
	});
</script>
<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-primary" data-collapsed="0">
		
			<div class="panel-heading">
				<div class="panel-title">
					Настройки сайта
				</div>
				<div class="panel-options">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#main" data-toggle="tab">Сайт</a></li>
						<li class=""><a href="#session" data-toggle="tab">Пользователи</a></li>
						<li class=""><a href="#license" data-toggle="tab">Лицензия</a></li>
					</ul>
				</div>
			</div>
			
			<div class="panel-body">
				<form role="form" method="POST" id="optionsForm" class="form-horizontal form-groups-bordered">
				<?php echo Rdl\Security\Security::getInstance()->getPostString();?>
				<div class="tab-content">
					<div class="tab-pane active" id="main">
						<div class="form-group">
							<label for="options_title" class="col-sm-3 control-label">Название сайта</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="options_title" name="title" placeholder="Название сайта" value="<?php echo $this->Core->Config->Site->title?>">
							</div>
						</div>
						<div class="form-group">
							<label for="options_url" class="col-sm-3 control-label">URL сайта</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="options_url" name="url" placeholder="URL сайта" value="<?php echo (empty($this->Core->Config->Site->url) ? '' : $this->	Core->Config->Site->url) ?>">
							</div>
						</div>
						<div class="form-group">
							<label for="options_description" class="col-sm-3 control-label">Описание (description)</label>
							<div class="col-sm-5">
								<textarea placeholder="Описание страницы(description)" id="options_description" class="form-control" name="description"><?php echo $this->Core->Config->Site->meta[	'description']?></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="options_keywords" class="col-sm-3 control-label">Ключевые (keywords)</label>
							<div class="col-sm-5">
								<textarea placeholder="Ключевые слова(keywords)" id="options_keywords" class="form-control" name="keywords"><?php echo $this->Core->Config->Site->meta['description	']?></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="options_charset" class="col-sm-3 control-label">Кодировка сайта</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="options_charset" name="charset" placeholder="Кодировка сайта" value="<?php echo $this->Core->Config->charset ?>">
							</div>
						</div>
						<div class="form-group">
							<label for="options_cache" class="col-sm-3 control-label">Кеширование</label>
							<div class="col-sm-5" style="padding-top: 5px;">
								<div class="make-switch switch-mini" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>">
									<input type="checkbox" id="options_charset" name="cache" value="1"<?php echo ($this->Core->Config->cache == true ? ' checked':'')?>/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="options_template" class="col-sm-3 control-label">Шаблон</label>
							<div class="col-sm-5">
								<select class="form-control" name="template">
									<?php foreach(glob(ROOT_DIR .'/engine/templates/*') as $key => $Template) { ?>
										<?php 
											$data = explode('/', $Template); 
											$nameTemplate = end($data);
										?>
										<option<?php echo ($this->Core->DefaultTemplate == $nameTemplate ? ' selected' : '')?>><?php echo $nameTemplate?></option>
									<?php } ?>
								</select>
							</div>
						</div>
						</div>
						<div class="tab-pane" id="session">
							<div class="form-group">
								<label for="session_storage" class="col-sm-3 control-label">Хранить сессии</label>
								<div class="col-sm-5">
									<select class="form-control" name="session_storage">
										<option value="file"<?php if($this->Core->Config->Session->Storage == 'file') echo "SELECTED"?>>На сервере</option>
										<option value="base"<?php if($this->Core->Config->Session->Storage == 'base') echo "SELECTED"?>>В базе</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="options_hash_key" class="col-sm-3 control-label">Ключ безопасности</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="options_hash_key" name="HashKey" placeholder="Ключ безопасности" value="<?php echo $this->Core->Config->HashKey ?>">
								</div>
							</div>
							<div class="form-group">
								<label for="session_validate" class="col-sm-3 control-label">Проверка сессии</label>
								<div class="col-sm-5">
									<select class="form-control" name="session_validate">
										<option value="remoteaddr"<?php if($this->Core->Config->Session->Validate == 'remoteaddr') echo "SELECTED"?>>По IP</option>
										<option value="httpuseragent"<?php if($this->Core->Config->Session->Validate == 'httpuseragent') echo "SELECTED"?>>По Агенту</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="session_remember" class="col-sm-3 control-label">Запоминать авторизацию</label>
								<div class="col-sm-5" style="padding-top: 5px;">
									<div class="make-switch switch-mini" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>">
									<input type="checkbox" id="session_remember" name="remember" value="1"<?php echo ($this->Core->Config->remember == true ? ' checked':'')?>/>
								</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5">
							<input type="submit" name="submit" value="Сохранить" class="btn btn-blue btn-block">
						</div>
					</div>
				</form>
				
			</div>
		
		</div>
	
	</div>
</div>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/bootstrap-switch.min.js" id="script-resource-7"></script>