<?php
	$arStatusClasses = array(
			0 => ' label label-warning',
	        1 => ' label label-default',
	        2 => ' label label-success',
	        3 => ' label label-info',
	        4 => '',
	        5 => ' label label-danger'
		);
?>
<script type="text/javascript" src="<?php echo $this->Template?>order.js"></script>
<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2-bootstrap.css" id="style-resource-1">
<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2.css" id="style-resource-2">
<table class="table table-bordered datatable" id="table-1">
	<thead>
		<tr>
			<th>#</th>
			<th>Дата</th>
			<th>Сумма</th>
			<th>Статус</th>
			<th style="width: 112px;">Действия</th>
		</tr>
	</thead>
	<tbody>
	<?php 
		if(count($this->arOrders)) foreach($this->arOrders as $keyHash => $arOrder) { 
			$arOrder['dateTime'] = new \DateTime($arOrder['dateTime']);
			$arOrder['dateTime'] = $arOrder['dateTime']->format('d.m.Y H:i:s');
		?>
		<tr class="odd gradeX">
			<td><?php echo Rdl\Components\Catalog\Basket::CheckNumber($arOrder['id'])?></td>
			<td><?php echo $arOrder['dateTime']?></td>
			<td><?php echo number_format($arOrder['price'])?></td>
			<td align="center"><label class="status_order<?php echo $arOrder['id']?><?php echo $arStatusClasses[$arOrder['status']]?>"><?php echo $this->arStatus[$arOrder['status']]?></label></td>
			<td>
				<a href="/admin/catalog/orders/?order_id=<?php echo $arOrder['id']?>" class="btn btn-default btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Редактировать"  title="Редактировать">
					<i class="entypo-pencil"></i>
				</a>
				<?php if($arOrder['status'] != 5) { ?>
				<a data-status="5" data-order="<?php echo $arOrder['id']?>" href="#" class="change_status btn btn-danger btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Отменить" title="Отменить">
					<i class="entypo-cancel"></i>
				</a>
				<?php } else { ?>
				<a data-status="5" data-order="<?php echo $arOrder['id']?>" href="#" class="change_status btn btn-danger btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Удалить"  title="Удалить">
					<i class="entypo-trash"></i>
				</a>
				<?php } ?>
			</td>
		</tr>
	<?php } ?>
	</tbody>
</table>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/jquery.dataTables.min.js" id="script-resource-7"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/dataTables.bootstrap.js" id="script-resource-8"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2.min.js" id="script-resource-9"></script>
<script type="text/javascript">
	$(document).ready(function($)
	{
		$("#table-1").dataTable({
			"sPaginationType": "bootstrap",
			"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			"bStateSave": true,
			"aoColumns": [
  				null,
  				null,
  				null,
  				null,
  				{ "bSortable": false }
  			]
		});
		
		$(".dataTables_wrapper select").select2({
			minimumResultsForSearch: -1
		});
	});
</script>
<? /*
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="icon-shopping-cart"></i>
				Заказы
				<div class="panel-tools">
					<a class="btn btn-xs btn-link panel-add" href="/admin/pages/add/" title="Создать страницу">
						<i class="icon-plus"></i>
					</a>
					<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
						<i class="icon-wrench"></i>
					</a>
					<a class="btn btn-xs btn-link panel-close" href="#">
						<i class="icon-remove"></i>
					</a>
				</div>
			</div>
			<div class="panel-body panel-scroll" style="height:500px;">
				<table class="table table-striped table-hover" id="sample-table-1">
					<thead>
						<tr>
							<th>#</th>
							<th>Дата</th>
							<th>Сумма</th>
							<th class="hidden-xs">Статус</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<?php if(count($this->arOrders)) foreach($this->arOrders as $keyHash => $arOrder) { ?>
						<tr>
							<td><?php echo $arOrder['id']?></td>
							<td><?php echo $arOrder['dateTime']?></td>
							<td><?php echo number_format($arOrder['price'])?></td>
							<td class="hidden-xs"><label class="status_order<?php echo $arStatusClasses[$arOrder['status']]?>"><?php echo $this->arStatus[$arOrder['status']]?></label></td>
							<td class="center">
							<div>
								<div class="btn-group">
									<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
										<i class="icon-cog"></i> <span class="caret"></span>
									</a>
									<ul role="menu" class="dropdown-menu pull-right">
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="/admin/catalog/orders/?order_id=<?php echo $arOrder['id']?>">
												<i class="icon-edit"></i> Изменить
											</a>
										</li>
										<!-- <li role="presentation">
											<a role="menuitem" tabindex="-1" href="">
												<i class="clip-thumbs-up"></i> Подтвердить
											</a>
										</li> -->
										<?php if($arOrder['status'] != 5) { ?>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" data-status="5" data-order="<?php echo $arOrder['id']?>" class="change_status" href="#">
												<i class="icon-remove"></i> Отменить
											</a>
										</li>
										<?php } ?>
									</ul>
								</div>
							</div></td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>*/?>
