html {
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	background: #96499d; /* Old browsers */
	background: -moz-linear-gradient(left,  #96499d 0%, #ff425d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#96499d), color-stop(100%,#ff425d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #96499d 0%,#ff425d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #96499d 0%,#ff425d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #96499d 0%,#ff425d 100%); /* IE10+ */
	background: linear-gradient(to right,  #96499d 0%,#ff425d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96499d', endColorstr='#ff425d',GradientType=1 ); /* IE6-9 */
}
.t1 {
	font-size: 16pt;
	font-family: 'Roboto', 'Sans' sans-serif;
	font-weight: 100;
	line-height: 0.5;
}
.authentication {
	width: 100%;
	height: 40px;
	max-width: 70%;
	min-width: 980px;
	margin: 0px auto;
	text-align: right;
	padding: 10px 40px 0 0;
	color: #fff;
	font-size: 9pt;
	font-family: 'Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
}
.authentication a {
	color: #fff;
	border-bottom: 1px dashed #fff;
}
.authentication a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: none;
}
#MainWrapper {
	position: relative;
	max-width: 70%;
	min-width: 980px;
	height: 100%;
	background: #fff; 
	margin: 0px auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 20px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 20px rgba(0, 0, 0, 0.5);
	~padding: 30px 40px 0 0px;
}
.wowLogo {
	text-align: center;
	width: 100%;
	height: 130px;
}
.wrapper {
	~border: 1px solid #000;
	width: 100%;
	height: 250px;
	padding: 30px 40px 0px 40px;
	margin: 0px 0 30px 0;
}
.leftHeader {
	~border: 1px solid #000;
	width: 30%;
	height: 250px;
	float: left;
}
.rightHeader {
	~border: 1px solid #000;
	width: 63%;
	margin-left: 37%;
	height: 250px;
}
.wowSocial {
	display: block;
	width: 300px;
	margin: 50px auto;
	~border: 1px solid #000
}
.vk, .instagram {
	width: 50%;
	~background:#555;
	float: left;
}
.vk-icon {
	width: 31px;
	background: url(../img/vk.png);
	height: 31px;
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
span.vk-title {
	display: inline-block;
	width: 110px;
	vertical-align: middle;
}
.instagram-icon {
	width: 31px;
	background: url(../img/instagram1.png);
	height: 31px;
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
span.instagram-title {
	display: inline-block;
	width: 110px;
	vertical-align: middle;
}
span.vk-title a, span.instagram-title a {
	color: #25a4ce;
	font-style: italic;
	font-size: 10pt;
	font-family: 'Sans', sans-serif;
	font-weight: normal;
}
.wowMenu {
	width: 100%;
	height: 50px;
	overflow: hidden;
}
ul.topMenu  {
	width: auto;
	height: 30px;
	padding:0;
	text-align: right;
}
ul.topMenu  li { 
	list-style: none;
	margin: 0;
	padding-left: 20px;
	display: inline-block;
}
ul.topMenu li a:link {
	font-size: 12pt;
	font-weight: 300;
	font-family: 'Roboto', 'Sans' 'Helvetica', sans-serif;
} 
.wowPhone {
	~background: blue;
	width: 50%;
	min-width: 250px;
	float: left;
	font-size: 15pt;
	font-family: 'Sans', sans-serif;
	font-weight: normal;
	color: #9a9a9a;
	margin: 0 0px 0 10px;
	padding: 35px 0 0 0;
}
.callMe-icon {
	width: 70px;
	background: url(../img/callMe.png);
	height: 70px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
span.numberPhone {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}
.wowCart {
	~background: #222;
	width: 40%;
	height: 180px;
	float: right;
	text-align: center;
	font-size: 10pt;
	padding-top: 30px;
}
.cart-icon {
	width: 55px;
	background: url(../img/cart.png);
	height: 55px;
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}
span.infoCart {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.wowSearch {
	~background: #999;
	width: 60%;
	height: 180px;
}
.wowSearch input {
	position: relative;
	top:30px;
	min-width: 280px;
	width: 50%;
}

.menu {
	position: relative;
    text-align: justify; 
    height: 70px;
    margin: 10px 0 0 0;
    padding: 10px 55px 10px 55px;
}
.menu ul {
	display:inline; margin:0; padding:0;
}
.menu ul li {
display: inline;
}
.menu ul li a {
	display: inline-block;
	font-size: 22pt;
	font-family: 'Roboto', 'Sans' sans-serif;
	font-weight: 300;
	line-height: 0.5;
	color: #414141;
}
.menu ul li a:hover {
	text-decoration: none;
	color: #97499c;
}
.menu span {
	display:inline-block; width:100%; height:0;
}
span.sub {
	color: #bcbbbc;
	font-size: 10pt;
}


#wowBanner {
	width: 100%;
	margin-bottom: 40px;
	padding: 0 40px;
}
#wowBanner div {
	width: 100%;
	height: 300px;
	background: #222;
	border-radius: 15px;
}

#content {
	width: 100%;
	height: 100%;
	padding-bottom: 60px;
}
.inlineCatalog, .paddingText {
	padding: 0 60px;
}
.gridGoods {
	margin: 0;
	position: relative;
	display: block;
	overflow: hidden;
	height: 350px;
	max-height: 100%;
	padding: 10px;
	~border: 1px solid #000;
	~background: red;
}
.goods {
	width: auto;
	height: 100%;
	padding: 10px;
	~border: 1px solid #000;
	text-align: center;
}
 a:hover .goods {
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.goods img {
	width: 90%;
	max-width: 200px;
	text-align: center;
	overflow: hidden;
}
a:hover.linkGoods {
	text-decoration: none;
}
.titleGoods, .priceGoods {
	width: 100%;
	display: block;
	margin: 2px 0;
}
span.titleGoods  {
	color: #303030;
	font-family: 'Tahoma', sans-serif;
	font-size: 11pt;
	text-decoration: none;
}
.titleGoods:hover {text-decoration: none;}
span.priceGoods {
	color: #f49c1e;
	font-family: 'Georgia', sans-serif;
	font-size: 20pt;
	font-weight: bold;
	text-decoration: none;
	z-index: 100;
	position: relative;
}
span.oldPriceGoods {
	color: #ddd;
	font-family: 'Georgia', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	position: relative;
	margin: 0 0 0 10px;
	top: -27px;
	z-index: 50;
}
#infoBlock {
	width: 100%;
	height: 250px;
	background: #e3f0ef;
	margin: 0;
	float: left;
	padding: 0 40px;
}
#infoBlock div {
	width: 31%;
	padding: 15px;
	margin: 20px 10px 0 10px;
	height: auto;
	font-size: 10pt;
	float: left;
	color: #79807f;
	~background: blue;
}

#footer {
	max-width: 70%;
	min-width: 980px;
	margin: 0 auto;
	height: 100px;
}
.footerMenu {
	width: 100%;
	height: 30px;
}
.rightInfo {
	width: 40%;
	float: left;
	height: 50px;
	padding: 20px 40px;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', 'Sans' sans-serif;
	font-weight: 100;
	bottom: 100%;
	~background: red
}
.RDLteam {
	width: 20%;
	float: right;
	height: 100px;
	padding: 0 40px;
	background: url(../img/rdl.png) no-repeat top center;
}

/* page catalog */

#wowSort {
	width: 100%;
	height: 70px;
	background: #e3f0ef;
}
#wowSort .sortForms {
	height: auto;
	padding: 25px 60px;
	text-align: right;
	color:#9fa8a7;
	font-size: 10pt;
}
#wowSort .sortForms span {
	padding: 0 10px;
}
#wowSort .sortForms select {
	color: #c3c3c3;
	width: 200px;
}
.marginCatalog {
	margin: 20px 0 0 200px;
}
.catalogMenu {
	float: left;
	padding: 0 10px 0 55px;
}
.catalogMenu li {
	list-style: none;
}
.catalogMenu li a {
	padding: 7px 0 0px 20px;
	display: block;
}
.titleCatalogMenu {
	font-size: 16pt;
	margin-top: 30px;
}

.breadcrumb {
  font-size: 9pt;
}

.fullDescription {
	~background: red;
	margin:0;
	padding: 0 40px 50px 10px;
}
.fullImage {
	width: 380px;
	~text-align: left;
	~border: 1px solid #000;
	padding: 0 30px 0 0px;
	~background: green;
	~float: left;
}
.miniFullImage {
	width: 100px;
	padding: 0px 0 0 0;
	 ~border: 1px solid #000;
}

.goodsDetails {
	~background: blue;
	~width: 30%;
	~margin-left: 390px;
	padding: 0 10px 0 5px;
	~float: left;
}
.articul {
	font-size: 8pt;
	margin: -7px 0 0px 0;
}
.size {
	margin: 30px 0 0 0
}
.size a span {
	border: 1px dashed #000;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	text-align: center;
	vertical-align:bottom;
	padding: 5px;
	margin:7px;
	color: #000;
	padding-top: 7px;
}
.size a:hover span, .size span.active {
	background: #f49c1e
} 
.goodsInfo {
	background: #f8f8f8;
	border-radius: 15px;
	border: 1px solid #aeaeae;
	height: 500px;
}
.titleGoods {
	color: #f49c1e;
	font-size: 20pt;
	font-weight: bold;
}
.amount {
	margin: 20px 0 0 0;
}
.price {
	margin: 30px 0 0 0;
	font-size: 18pt;
}
.price button {
	~margin-left: 10px;
	~float: right;
}
.wrapperFull {
	width: 100%;
	height: 100%;
	position: relative;
}
.description {
	line-height: 1.4;
    font-style: italic;
    color: #434343;
    font-size: 9pt;
}
.present {
	border-radius: 5px;
	background:#e3f0ef;
	padding: 20px 10px;
	top: 30px;
	text-align: center;
}
.present div {
	display: inline-block;
	padding: 0 10px;
	font-size: 10pt;
	vertical-align: top;
}
.present img {
	border: 1px solid #959d9c;
	height: 70px;
}

/* Cart Full */
.cartTable {
	text-align: center;
}
.cartDescription {text-align: left;}
.cartDescription img {
	float: left;
	padding-right: 10px;
}
.input-mini {
	width: 60px;
}
a.cartDeleteGoods {
	color: #ddd
}
a.cartDeleteGoods:hover {
	display: inline-block;
	width: 22px;
	height: 22px;
	text-decoration: none;
	border: 1px dashed red;
	border-radius: 22px;
	color: red
}
.shadow-right {
	-webkit-box-shadow: 3px 0px 5px rgba(50, 50, 50, 0.46);
	-moz-box-shadow:    3px 0px 5px rgba(50, 50, 50, 0.46);
	box-shadow:         3px 0px 5px rgba(50, 50, 50, 0.46);
	padding: 40px 50px;
	background: #eee
}
.shadow-left {
	padding: 40px 0 40px 30px ;
}
.orderBlockquote blockquote p {
	font-size: 13.5px !important;
}