#products .next, #products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}
#products .prev {
	background:url(../img/arrow-prev.png);
}
#products .next {
	left:398px;
	background:url(../img/arrow-next.png);
}
#products .slides_container {
	width:366px;
	height:auto;
	overflow:hidden;
}
#products .pagination {
	width:100%;
	padding:5px 5px;
	float:left;
	margin-left:30px;
}
#products .pagination li {
	float:left;
	margin:2px 4px;
	list-style: none;
}
#products .pagination li a {
	display:block;
	width:55px;
	height:41px;
	margin:1px;
	float:left;
	background:#f9f9f9;
}
#products .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}