.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  width: 100%;
  float: left;
  border: 0px;
  }

ul.rslides_tabs  li {
  display: inline-block;
  padding:3px;
}
.rslides_here {
  border: 3px solid #ddd;
  border-radius: 10px;
}
#slider3-pager {
  margin-left:-40px;
  margin-top: 20px;
}