<div class="wowMenu">
	<ul class="topMenu">
	<?php foreach($this->arMenu['line'] as $key => $Menu) { ?>
		<li><a href="<?php echo $Menu['link']?>" alt=""><?php echo $Menu['name']?></a></li>
	<?php } ?>
	</ul>
</div>