<ol class="breadcrumb bc-3 hidden-print">
	<li><a href="<?php echo $this->Core->Url?>/admin/"><i class="entypo-home"></i>RDL CMS</a></li>
	<?php if(count($this->Registry->SpeedBar) <= 0) { ?>
	<li class="active"><strong>Главная</strong></li>
	<?php } ?>
	<?php $i = 0; if(count($this->Registry->SpeedBar) > 0) foreach($this->Registry->SpeedBar as $url => $Data) { $i++;?>
	<li<?php if($i == count($this->Registry->SpeedBar)) {?> class="active"<?php } ?>>
		<?php if($i < count($this->Registry->SpeedBar)) {?><a href="/admin<?php echo $url?>"><?php } else echo "<strong>"?>
			<?php if(is_array($Data)) { ?>
				<?php echo $Data['title'] ?>
			<?php } else { ?>
				<?php echo $Data?>
			<?php } ?>
		<?php if($i < count($this->Registry->SpeedBar)) {?></a><?php } else echo "</strong>"; ?>
	</li>
	<?php } ?>
</ol>