<!DOCTYPE html>
<html lang="en">
<head>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<?php echo $this->Title?>
	<?php echo $this->Header?>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"  id="style-resource-1">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/font-icons/entypo/css/animation.css"  id="style-resource-3">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-4">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/neon.css"  id="style-resource-5">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/custom.css"  id="style-resource-6">

	<script src="<?php echo $this->Template?>/assets/js/jquery-1.10.2.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body class="page-body page-fade">

<div class="page-container">	
	
<div class="sidebar-menu">
	
		<header class="logo-env">
		
		<!-- logo -->
		<div class="logo">
			<a href="<?php echo $this->Core->Url?>/admin/">
				<img src="<?php echo $this->Template?>/assets/images/logo.png" alt="" />
			</a>
		</div>
		
				<!-- logo collapse icon -->
		<div class="sidebar-collapse">
			<a href="#" class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
				<i class="entypo-menu"></i>
			</a>
		</div>
						
		
		<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
		<div class="sidebar-mobile-menu visible-xs">
			<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
				<i class="entypo-menu"></i>
			</a>
		</div>
		
	</header>
		
	
<ul id="main-menu" class="">
	<li class="<?php echo ($this->thisLink('/') ? ' active':'')?>">
		<a href="<?php echo $this->Core->Url?>/admin/"><i class="entypo-gauge"></i><span>Главная</span></a>	
	</li>

	<li class="<?php echo ($this->thisLink('/settings/') || $this->thisLink('/settings/site/') ? ' active':'')?>">
		<a href="<?php echo $this->Core->Url?>/admin/settings/"><i class="entypo-cog"></i><span>Настройки</span></a>
	</li>

	<li class="<?php echo ($this->thisLink('/pages/') || $this->thisLink('/pages/edit/') || $this->thisLink('/pages/add/') ? 'opened active':'')?>">
		<a href="<?php echo $this->Core->Url?>/admin/pages/"><i class="entypo-docs"></i><span>Страницы</span></a>
		<ul>
			<li class="<?php echo ($this->thisLink('/pages/') || $this->thisLink('/pages/edit/') ? ' active':'')?>"><a href="/admin/pages/"><span>Список страниц</span></a></li>
			<li class="<?php echo ($this->thisLink('/pages/add/') ? ' active':'')?>"><a href="/admin/pages/add/"><span>Создать страницу</span></a></li>
		</ul>
	</li>
	<li class="<?php echo ($this->thisLink('/catalog/') || $this->thisLink('/catalog/orders/') || $this->thisLink('/catalog/items/') || $this->thisLink('/catalog/category/') ? 'opened active':'')?>">
		<a href="<?php echo $this->Core->Url?>/admin/catalog/"><i class="entypo-bag"></i><span>Каталог</span></a>
		<ul>
			<li class="<?php echo ($this->thisLink('/catalog/orders/') ? ' active':'')?>"><a href="/admin/catalog/orders/"><span>Заказы</span></a></li>
			<li class="<?php echo ($this->thisLink('/catalog/category/') ? ' active':'')?>"><a href="/admin/catalog/category/"><span>Категории</span></a></li>
			<li class="<?php echo ($this->thisLink('/catalog/items/') ? ' active':'')?>"><a href="/admin/catalog/items/"><span>Товары</span></a></li>
		</ul>
	</li>
</ul>
			
		
</div>	
	<div class="main-content">
	<?php echo $this->LoadComponent('Engine:auth', array('Template' => 'admin')); ?>

<hr />
<?php if(!$this->thisLink('/')) echo $this->LoadComponent('Engine:speedbar'); ?>
<?php echo $this->Content?>

<!-- Footer -->
<footer class="main hidden-print">
	&copy; 2013 <strong>RDL Team</strong> Powered by <a href="http://rdl-team.ru/" target="_blank">RDL CMS</a>
</footer>	</div>
	

<!-- Sample Modal (Default skin) -->
<div class="modal fade" id="sample-modal-dialog-1">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Widget Options - Default Modal</h4>
			</div>
			
			<div class="modal-body">
				<p>Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw. Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope. Secure active living depend son repair day ladies now.</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Sample Modal (Skin inverted) -->
<div class="modal invert fade" id="sample-modal-dialog-2">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Widget Options - Inverted Skin Modal</h4>
			</div>
			
			<div class="modal-body">
				<p>Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw. Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope. Secure active living depend son repair day ladies now.</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Sample Modal (Skin gray) -->
<div class="modal gray fade" id="sample-modal-dialog-3">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Widget Options - Gray Skin Modal</h4>
			</div>
			
			<div class="modal-body">
				<p>Now residence dashwoods she excellent you. Shade being under his bed her. Much read on as draw. Blessing for ignorant exercise any yourself unpacked. Pleasant horrible but confined day end marriage. Eagerness furniture set preserved far recommend. Did even but nor are most gave hope. Secure active living depend son repair day ladies now.</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/js/jvectormap/jquery-jvectormap-1.2.2.css"  id="style-resource-1">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/js/rickshaw/rickshaw.min.css"  id="style-resource-2">

	<script src="<?php echo $this->Template?>/assets/js/gsap/main-gsap.js" id="script-resource-1"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
	<script src="<?php echo $this->Template?>/assets/js/bootstrap.min.js" id="script-resource-3"></script>
	<script src="<?php echo $this->Template?>/assets/js/joinable.js" id="script-resource-4"></script>
	<script src="<?php echo $this->Template?>/assets/js/resizeable.js" id="script-resource-5"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-api.js" id="script-resource-6"></script>
	<script src="<?php echo $this->Template?>/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js" id="script-resource-7"></script>
	<script src="<?php echo $this->Template?>/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js" id="script-resource-8"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery.sparkline.min.js" id="script-resource-9"></script>
	<script src="<?php echo $this->Template?>/assets/js/rickshaw/vendor/d3.v3.js" id="script-resource-10"></script>
	<script src="<?php echo $this->Template?>/assets/js/rickshaw/rickshaw.min.js" id="script-resource-11"></script>
	<script src="<?php echo $this->Template?>/assets/js/raphael-min.js" id="script-resource-12"></script>
	<script src="<?php echo $this->Template?>/assets/js/morris.min.js" id="script-resource-13"></script>
	<script src="<?php echo $this->Template?>/assets/js/toastr.js" id="script-resource-14"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-chat.js" id="script-resource-15"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-custom.js" id="script-resource-16"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-demo.js" id="script-resource-17"></script>

</body>
</html>