<div id="block_detail" data-id="<?php echo $this->arData['id']?>">


    <div class="row-fluid topInfoBlock">
        <div class="span5" align="center">Тип: - <span contenteditable="true" data-input="category" list="category"><?php echo $this->arData['category']?></span></div>
        <div class="span3" align="center">ИНП - <span><?php echo $this->arData['AlphaCode']?></span></div>
        <div class="span4" align="center"><span><?php echo $this->arData['area']?></span></div>
    </div>
	
	<div class="row-fluid ">
  <div class="span4 inline">
    <div class="row-fluid">
      <div class="span3 title">Фамилия:</div>
      <div class="span8"><strong class="last" contenteditable="true" data-input='lastname'><?php echo $this->arData['lastname']?></strong></div></div>
	    <div class="row-fluid">
	    <div class="span3 title">Имя:</div>
      <div class="span9"><span class="last" contenteditable="true" data-input='fullname'><?php echo $this->arData['fullname']?></span></div></div>
	    <div class="row-fluid">
	  <div class="span3 title">Отчество:</div>
      <div class="span8"><span class="last" contenteditable="true" data-input='otvname'><?php echo $this->arData['otvname']?></span></div>
    </div>
		<div class="row-fluid">
	  <div class="span3 title">Дата рождения:</div>
      <div class="span3"><span class="last" contenteditable='true' data-input='dateByrsday' data-options='date'><?php echo $this->arData['dateByrsday']['date']?></span></div> 
	 <div class="span3"> <span class="years">(<?php echo $this->arData['dateByrsday']['years']?>)</span></div></div>
                	
	  <div class="row-fluid">
	  <div class="span3 title">Индекс:</div>
      <div class="span8"><span class="last" contenteditable="true" data-input='index' data-options='int'><?php echo $this->arData['index']?></span></div>
    </div>
	
	<div class="row-fluid">
	  <div class="span3 title">Улица: </div>
      <div class="span8">
      	<span class="last" style="line-height: normal;" data-input="street" list="street" contenteditable="true" autocomplete="off"><?php echo $this->arData['street']?></span>
      </div>
    </div>
	
	<div class="row-fluid">
	  <div class="span2 title">Дом: </div>
      <div class="span2"><span class="last" contenteditable="true" data-input='house'><?php echo $this->arData['house']?></span></div>
	   <div class="span3 title">Кор:</div>
      <div class="span2"><span class="last" contenteditable="true" data-input='courpse'><?php echo $this->arData['courpse']?></span></div>
	   <div class="span3 title">Кв:</div>
      <div class="span2"><span class="last" contenteditable="true" data-input='flat'> <?php echo $this->arData['flat']?></span></div>
    </div>
		
		<div class="row-fluid">
	  <div class="span3 title">Дом. телефон:</div>
      <div class="span1"><span class="last">8 (<span class="last" contenteditable="true" data-input='PhoneCode'><?php echo $this->arData['PhoneCode']?></span> )&nbsp;<span class="last" contenteditable="true" data-input='Phone'> <?php echo $this->arData['Phone']?></span></div>
    </div>
	
		<div class="row-fluid">
	  <div class="span3 title">Моб. телефон:</div>
      <div class="span6"><span class="last">8 <span class="last" contenteditable="true" data-input="MobilePhone"><?php echo $this->arData['MobilePhone']?></span> 
    </div></div>
    </div>
	
	<!-- two table -->
	<div class="span4 inline2">
	
	 <div class="row-fluid">
      <div class="span3 title">Явка на:</div>
      <div class="span3"><span class="last"  data-options="date" contenteditable="true"> <?php echo $this->arData['appearance']?> </span> &nbsp;  <i class="icon-calendar"></i> </div></div>
	  
	   <div class="row-fluid">
      <div class="span3 title">Направлен:</div>
      <div class="span5"><span class="last" list="medic" data-input="medic" contenteditable="true"> <?php echo $this->arData['medic']?> </span>  </div></div>
	  
	   <div class="row-fluid">
      <div class="span6 title">Поликлиника:</div>
      <div class="span5"><span class="last" data-input="medic" contenteditable="true">13ГКБ </span>  </div></div>
	
	  <div class="row-fluid">
      <div class="span10"></div>
	  </div>
	  
	  <div class="row-fluid">
      <div class="span10 title">Место рождения:</div></div>
	  <div class="row-fluid">
      <div class="span10"><span class="last bigInput" contenteditable="true" data-input="byrsdayLocation"><?php echo $this->arData['byrsdayLocation']?> </span>  </div></div>
	
	
	<div class="row-fluid">
      <div class="span10 title">Место учебы:</div></div>
	  <div class="row-fluid">
      <div class="span11"><span class="last" contenteditable="true" data-input="learnLocation" list="learnLocation" data-toggle="tooltip" title="<?php echo $this->arData['learnLocation']['fullname']?>"><?php echo $this->arData['learnLocation']['smallname']?> </span>  </div></div>
	</div>
 
  
  	<div class="span4 inline2">
	
			 <div class="row-fluid">
					  <div class="span3 title">Серия и номер:</div>
					  <div class="span2"><span class="last" contenteditable="true" data-input="passportSerial"><?php echo $this->arData['passportSerial']?></span></div>
					  <div class="span3"><span class="last" contenteditable="true" data-input="passportNumber"><?php echo $this->arData['passportNumber']?></span></div>
			</div>
			
			 <div class="row-fluid">
					  <div class="span10 title">Кем выдан:</div></div>
					  <div class="row-fluid">
					  <div class="span11"><span class="last bigInput" contenteditable="true" data-input="passportInfo"><?php echo $this->arData['passportInfo']?></span>  </div>
	         </div>
			
			 <div class="row-fluid">
					  <div class="span3 title">Когда выдан:</div>
					  <div class="span3"><span class="last" style="line-height:15px;" contenteditable="true" data-input="passportDate" data-options="date"><?php echo $this->arData['passportDate']?></span></div>
			 </div>
			 
			 <div class="row-fluid">
             <div class="span10"></div>
			 </div>
			 
			 <div class="row-fluid">
					  <div class="span3 title">Осужден по статье:</div>
					  <div class="span5"><span class="last"contenteditable="true" data-input="convictedN"><?php echo $this->arData['convictedN']?></span></div>
			 </div>
			 
			  <div class="row-fluid">
					  <div class="span10 title">Судом:</div></div>
					  <div class="row-fluid">
					  <div class="span11"><span class="last" contenteditable="true" data-input="convictedC"><?php echo $this->arData['convictedC']?></span>  </div>
	         </div>
			
	</div>
   </div>

	   

	<?php  //echo "<pre>"; var_dump($this->arData['medic']); echo "</pre>"; ?>
	
	
    <div class="row-fluid wellBlock">
      <div class="span3" align="center">Кабинет: <b> <span contenteditable="true" data-input='location'><?php echo $this->arData['location']?></span></b></div>
	  <div id="checkboxStyle" align="center" class="span2"> Часть: <input type="checkbox" name="pat"<?php echo ($this->arData['pat'] == 0 ? ' class="error checkbox"' : ' checked')?>>
	 </div>
	 <div class="span2" align="center">Наличие: <input type="checkbox" name="query"<?php echo ($this->arData['query'] == 0 ? '' : ' checked')?>></div>
	 <div class="span2" align="center">Архив: <input type="checkbox" name="archive"<?php echo ($this->arData['archive'] == 0 ? '' : ' checked')?>></div>
	 <div class="span2" align="center">ВУЗ: <input type="checkbox" name="learn"<?php echo ($this->arData['learn'] == 0 ? '' : ' checked')?>></div>
    </div>
	
	
	  <div class="row-fluid inputBox">
		 <div class="span4 table">
				<span class="title"> Родственник:</span><p class="prim" contenteditable="true" data-input="parent"><?php echo $this->arData['parent']?></p>
				<span class="select"> Снят с в/у:</span>				
							<select>
									  <option></option>
									  <option>Убыл в др. район (город)</option>
									  <option>Аттестован</option>
							</select>
			
		 </div>
		 
		 <div class="span4 table">
		<span> Примечание:</span> <p class="primBig" contenteditable="true" data-input="info"><?php echo $this->arData['info']?></p>
		 </div>
		 
		  <div class="span4 table">
		<span>Фактический район:</span><p class="Fraion" data-input="textArea" contenteditable="true"><?php echo $this->arData['textArea']?></p>				

		 </div>
		</div>

		<div class="BoxResult">
		<div class="row-fluid protocol">
		 <div class="span2 table">
		<span class="last"> протокол:</span> 8
		 </div>
		 <div class="span3 table">
		<span class="last">№ по протоколу: </span> 150/50
		 </div>
		  <div class="span2 table">
		<span class="last">дата: </span> 12.02.2013
		 </div>
		  <div class="span3 table">
		<span class="last"> категория годности: </span> А-1
		 </div>
		</div>
		
		  <div class="row-fluid bottomBlockBox">
		 <div class="span2 table bottomBlock">
		<span> 1. ППГВУ </span><p>Предназ. - <b>СВ</b></p>
		 </div>
		 <div class="span4 table bottomBlock">
		<span>2. Призыв <input type="checkbox"></span><p>К - <b>140</b></p><p>Дата - <b>14.06.2013</b></p><p>Личный номер - <b>ЕХ-779948</b></p><p>Приказ Кмг - <b>14.06.2013</b> № <b>79</b></p>
		 </div>
		  <div class="span3 table bottomBlock">
		<span>3. Отсрочка</span><p>
					<select>
						  <option>ВУЗ</option>
						  <option>ТСП</option>
			        </select>
		</p><p>МИФИ</p><p>№ специал. - <b>8008305.1</b></p><p>Подлежит призыву: </p><p><b>В-2013</b></p>
		 </div>
		  <div class="span3 table bottomBlock">
		<span> 4. Запас</span><p>
						<select>
						  <option>ОГВС</option>
						  <option>НГВС</option>
			        </select></p>
					<p>статья: 68 г</p>
		 </div>
		</div>
		</div>
</div>
</div>
