<ul class="catalogMenu">
    <?php if(!empty($this->arCatalog['category_name'])) {?><li class="titleCatalogMenu"><?php echo $this->arCatalog['category_name'] ?></li><?php } ?>
    <?php if(isset($this->arCatalog['category']) && count($this->arCatalog['category']) > 0) foreach($this->arCatalog['category'] as $key => $arCategory) { ?>
      <?php if($arCategory['parent_category'] == 0) { ?>
      	<li class="titleCatalogMenu"><?php echo $arCategory['name'] ?></li>
      <?php } else { ?>
	    <li><a href="<?php echo $arCategory['link']?>" alt="<?php echo $arCategory['name']?>">- <?php echo $arCategory['name']?></a></li>
	  <?php } ?>
    <?php } ?>
</ul>

