<p>В вашей корзине:<p><br/>
	<span class="cart-icon"></span>
	<?php if(isset($this->Registry->SessionStorage->basket) && count($this->Registry->SessionStorage->basket['items']) > 0){?>
		<span class="infoCart"><a href="/basket/"><?php echo $this->CountItem?> товара <br/> на сумму <?php echo number_format($this->Money)?> р</a></span>
	<?php } else { ?>
		<span class="infoCart"><a href="/basket/">Корзина пуста</a></span>
	<?php } ?>

