    <script src="<?php echo $this->GlobalTemplate?>/js/responsiveslides.min.js"></script>
    <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 3
      $("#slider3").responsiveSlides({
        manualControls: '#slider3-pager',
        auto: false   
      });
      $('.size span').on('click', function(){
        $('.size .active').removeClass('active');
        $(this).addClass('active');
        return false;
      });
  });
    </script>
    <link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/css/responsiveslides.css">
    <div class="row fullDescription">
        <div class="col-md-5 col-sm-5">
          <div class="fullImage">
            <!-- Slideshow 3 -->
            <ul class="rslides rslides1" id="slider3">
              <?php
                $detailImage = $this->arItem['detail_image'];
                $detailImage = array_shift($detailImage);
                $arImages = array(
                 $detailImage
                );
                if(!empty($this->arxFields['images'])){
                  $obFile = new Rdl\Components\File();
                  $arImage = array();
                  foreach($this->arxFields['images'] as $id => $key){
                    $arData = $obFile->getImages((int) $key, '200x0');
                    $arImage[] = array_shift($arData);
                  }

                  $arImages = array_merge($arImages, $arImage);
                }
                $i = 0;
                foreach($arImages as $key => $arValue) {
              ?>
              <li id="rslides1_s<?php echo $i?>" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out;"><img class="mainFullImage" src="<?php echo $arValue['url']?>" alt=""></li>
              <?php $i++; } ?>
            </ul>

            <!-- Slideshow 3 Pager -->
            <ul id="slider3-pager" class="rslides_tabs rslides1_tabs">
            <?php $i = 0;
                foreach($arImages as $key => $arValue) { ?>
              <li class="rslides1_s<?php echo $i?> rslides_here"><a href="#"><img class="miniFullImage" src="<?php echo $arValue['thumbs_url']?>" alt=""></a></li>
              <?php $i++; } ?>
            </ul>

          </div>

        </div>
        <div class="col-md-4 col-sm-4 goodsDetails">
          <div class="titleGoods"><?php echo $this->arItem['name']?></div>
          <div class="articul">art. <?php echo $this->arItem['article']?></div>
          <div class="size">Выберите размер:<br>
            <?php if(!empty($this->arxFields['size'])) foreach($this->arxFields['size'] as $Size) { ?>
              <a href="#"><span><?php echo $Size?></span></a>
            <?php } ?>
          </div>
          <div class="amount">
            Количество: <input type="number" min="0" name="amount" value="1" max-legth="4" class="input-mini">
          </div>
        
          <div class="price">
          <hr>
            <?php echo number_format($this->arItem['price'], 0, ',', ' ')?> р.  <button class="btn btn-success" id="addBasket" data-price="<?php echo $this->arItem['price']?>" data-id="<?php echo $this->arItem['id']?>" type="button">+ Добавить в корзину</button>
          <hr>
          </div>
          
          <div class="description">
          <b>Описание:</b>
          <dl class="dl-horizontal">
            <?php if(isset($this->arxFields['made'])) { ?>
              <dt>Производитель:</dt>
              <dd> <?php echo $this->arxFields['made']?></dd>
            <?php } ?>
            <?php if(isset($this->arxFields['material'])) { ?>
              <dt>Материал:</dt>
              <dd> <?php echo $this->arxFields['material']?></dd>
            <?php } ?>
            <?php if(isset($this->arxFields['sex'])) { ?>
              <dt>Пол:</dt>
              <dd> <?php echo $this->arxFields['sex']?></dd>
            <?php } ?>
          </dl>
          <?php echo $this->arItem['info']?>
         </div>
            </div>
            <div class="col-md-3 col-sm-3 goodsInfo">.col-md-4-3</div>
        </div>