<!DOCTYPE html>
<html>
 <head>
  <?php echo $this->Title?>
  <?php echo $this->Header?>
      <!-- Bootstrap -->
    <script src="<?php echo $this->Template?>/js/jquery-1.8.3.min.js"></script>
 	<script src="<?php echo $this->Template?>/js/bootstrap.min.js"></script>
 	<script type="text/javascript" src="<?php echo $this->Template?>/js/custom.js"></script>
    <!-- Bootstrap -->
    <link href="<?php echo $this->Template?>/css/bootstrap.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>/css/general.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
    <script>
    function UpdateBasket(){
    	$.ajax({
        	type: 'POST',
        	url: '/index.php?controller=Engine:basket&action=Update',
        	success: function(data){
          		$('.wowCart').html(data);
        	}
      	});
  	}
  	$(document).ready(function(){
    	$('#addBasket').on('click', function(){
    	 if($('.size span.active').text() == ''){
    	   alert('Укажите размер');
    	   return false;
    	 }
    	 if($('input[type=number]').val() <= 0){
    	   alert('Выберете количество');
    	   return false;
    	 }

    		$.ajax({
    		   type: 'POST',
    		   url: '/index.php?controller=Engine:basket&action=AddBasket',
    		   data: 'item_id='+$(this).data('id')+'&count='+$('input[type=number]').val()+'&price='+$(this).data('price')+'&size='+$('.size span.active').text(),
    		   success: function(data){
    		     alert('Товар добавлен в корзину');
    		     UpdateBasket();
    		   }
    		});
    	});
    });
    </script>
 </head>
 <body>	
	<?php echo $this->LoadComponent('Engine:auth'); ?>
 	<div id="MainWrapper">

		<div class="wrapper">
			<!-- LEFT BLOCK -->
			<div class="leftHeader">
				<div class="wowLogo"><a href="<?php echo $this->Core->Url?>"><img src="<?php echo $this->Template?>/img/wowLogo.png" alt="..." width="230"></a></div>
				<div class="wowSocial">
					<div class="vk">
						<span class="vk-icon"></span>
						<span class="vk-title"><a href="#">наша группа <br>в контакте</a></span>
					</div>
					<div class="instagram">
						<span class="instagram-icon"></span>
						<span class="instagram-title"><a href="#">наша еда <br> в instagram</a></span>
					</div>
				</div>
			</div>
			<!-- RIGHT BLOCK -->
			<div class="rightHeader">
				<?php echo $this->LoadComponent('Engine:menu', array('menu' => 'top')); ?>
				<div class="wowPhone">
						<span class="callMe-icon"></span>
						<span class="numberPhone">+7 (900) 123 45 64<br/>+7 (916) 812-34-00</span>
						<span class="wowSearch">
							<input type="text" class="form-control" placeholder="Более 10.000 товаров">
						</span>
				</div>
				<div class="wowCart">
						<?php echo $this->LoadComponent('Engine:basket', array(), 'Short'); ?>
				</div>
			</div>
			
		</div>

		<!-- START MIAN MENU -->
		
		<div class="menu">
				<?php echo $this->LoadComponent('Engine:menu', array('menu' => 'main', 'Template' => 'main')); ?>
		  		<span></span>
		</div>
		<!-- START BANNER BLOCK -->
		<div id="wowSort">
		<?php if($this->thisLink('/catalog/') && empty($this->Registry->Route->Params['ID'])) { ?>
			<?php echo $this->LoadComponent('Engine:catalog', array(), 'Filter'); ?>
		<?php } ?>
		</div>

		<!-- START CONTENT BLOCK -->
		<div id="content">
		<?php echo $this->LoadComponent('Engine:speedbar'); ?>
		<?php if($this->thisLink('/catalog/') && empty($this->Registry->Route->Params['ID'])) { ?>
			<?php echo $this->LoadComponent('Engine:catalogmenu'); ?>
		<?php } ?>


		<?php echo $this->Content?>


		</div> <!--content-->
		
 	</div>

 	<div id="footer">
 		<div class="footerMenu"></div>
 		<div class="rightInfo">
 			<p>© 2013 Интернет-магазин wow-shop.ru<br>Все права защищены.</p>
 		</div>
 		<a href="#"><div class="RDLteam"></div></a>
 	</div>

 </body>
</html>