<!DOCTYPE html>
<html>
 <head>
  <?php echo $this->Title?>
  <?php echo $this->Header?>
  <script src="<?php echo $this->Template?>/js/jquery-1.8.3.min.js"></script>
  <script src="<?php echo $this->Template?>/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="<?php echo $this->Template?>/js/custom.js"></script>
    <!-- Bootstrap -->
    <link href="<?php echo $this->Template?>/css/bootstrap.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>/css/general.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
 </head>
 <body>
<?php echo $this->LoadComponent('Engine:auth'); ?>
 	<div id="MainWrapper">

		<div class="wrapper">
			<!-- LEFT BLOCK -->
			<div class="leftHeader">
				<div class="wowLogo"><img src="<?php echo $this->Template?>/img/wowLogo.png" alt="Wow Shop" width="230"></div>
				<div class="wowSocial">
					<div class="vk">
						<span class="vk-icon"></span>
						<span class="vk-title"><a href="#">наша группа <br>в контакте</a></span>
					</div>
					<div class="instagram">
						<span class="instagram-icon"></span>
						<span class="instagram-title"><a href="#">наша еда <br> в instagram</a></span>
					</div>
				</div>
			</div>
			<!-- RIGHT BLOCK -->
			<div class="rightHeader">
				<?php echo $this->LoadComponent('Engine:menu', array('menu' => 'top')); ?>
				<div class="wowPhone">
						<span class="callMe-icon"></span>
						<span class="numberPhone">+7 (900) 123 45 64<br/>+7 (916) 812-34-00</span>
						<span class="wowSearch">
							<input type="text" class="form-control" placeholder="Более 10.000 товаров">
						</span>
				</div>
				<div class="wowCart">
					<?php echo $this->LoadComponent('Engine:basket', array(), 'Short'); ?>
				</div>
			</div>
			
		</div>

		<!-- START MIAN MENU -->
		<div class="menu">
				<?php echo $this->LoadComponent('Engine:menu', array('menu' => 'main', 'Template' => 'main')); ?>
		  		<span></span>
		</div>
		<!-- START BANNER BLOCK -->
		<div id="wowBanner">
			<div></div>
		</div>

		<!-- START CONTENT BLOCK -->
		<div id="content">

		<div class="row inlineCatalog">
  		<?php echo $this->LoadComponent('Engine:catalog'); ?>
  		<?php echo $this->LoadComponent('Engine:catalog', array(), 'Popular'); ?>
  		</div>

		<div id="infoBlock">
			<div class="first">
				<h4><p class="text-center">1. Доставка</p></h4>
				<p>Доставка осуществляется в 
течении 24 часов, если товар
есть в наличии на на складе, 
если товар доступен только для 
предзаказа, то доставка в 7-10 
дневный срок курьером довашей
двери.</p>
			</div>
			<div class="second">
				<h4><p class="text-center">2. Оплата</p></h4>
				<p>Оплата осуществляется при
доставке курьером товара, сразу
после того как вы ознакомитесь
с надлежащим качеством, 
наличными, или банковской 
карточкой</p>
			</div>
			<div class="third">
				<h4><p class="text-center">3. Самовывоз</p></h4>
				<p>Вы так же можете сами прехать
к нам в магазин, который нахо-
дится в ТЦ «ВЕГАС», и забрать 
заказанный товар, сэкономив тем
самым на доставке курьером</p>
			</div>
		</div>
		<div style="clear: both;"></div>

		<div class="partners"></div>

		</div> <!--content-->
		
 	</div>

 	<div id="footer">
 		<div class="footerMenu"></div>
 		<div class="rightInfo">
 			<p>© <?php echo date('Y');?> Интернет-магазин wow-shop.ru<br>Все права защищены.</p>
 		</div>
 		<a href="#"><div class="RDLteam"></div></a>
 	</div>

 </body>
</html>