<ul class="breadcrumb">
	<li><a href="<?php echo $this->Core->Url?>">Главная</a> <span class="divider"></span></li>
	<?php $i = 0; if(count($this->Registry->SpeedBar) > 0) foreach($this->Registry->SpeedBar as $url => $Data) { $i++;?>
  		<li<?php echo $i == count($this->Registry->SpeedBar) ? ' class="active"' : ''?>><?php if($i != count($this->Registry->SpeedBar)) { ?><a href="<?php echo $url?>"><?php } ?><?php echo is_array($Data) ? $Data['title'] : $Data?><?php if($i != count($this->Registry->SpeedBar)) { ?></a> <span class="divider"></span><?php } ?></li>
  	<?php } ?>
</ul>