  <div class="form-inline sortForms ">
    <span>Только в наличии <input type="checkbox" name="count" value="Y" /></span>
    
  <span><select name="filter">
    <option value="1"<?php echo $this->Selected === 1 ? ' selected' : ''?>>Сначала дорогие</option>
    <option value="2"<?php echo $this->Selected === 2 ? ' selected' : ''?>>Сначала дешевые</option>
    <option value="3"<?php echo !in_array($this->Selected, array(1,2)) ? ' selected' : ''?>>Сначала новые</option>
  </select></span>
    
  </div>