<div class="row inlineCatalog marginCatalog">
  <legend><?php echo $this->CategoryName?> <sup><span class="badge"><?php echo $this->CountItem?></span></sup></legend>
  <?php if(!$this->arItems) { ?>
    <div align="center">Товаров в данной категории не найдено</div>
  <?php } else { foreach($this->arItems as $key => $arItem) {?>
  	 <div class="col-xs-4 col-md-4 gridGoods">
    <a href="<?php echo $arItem['link']?>" class="linkGoods"><div class="goods">
    <img src="<?php echo $arItem['detail_image']['thumbs_url']?>">
      <span class="titleGoods"><?php echo $arItem['name']?> <?php if($arItem['surprice'] > 0) { ?><br><span class="text-success">+ подарок</span><?php } ?></span>
      <span class="priceGoods"><?php echo $arItem['price']?> р.</span>
      <?php if($arItem['old_price'] > 0) { ?>
        <span class="oldPriceGoods"><?php echo $arItem['old_price']?> р.</span>
      <?php } ?>
    </div></a>
  </div>
  <?php } 
    }?>
</div>