<?php
if($this->arData['url'] != '/' && mb_strlen(trim($this->arData['url'])) > 0)
	$this->arData['url'] = rtrim($this->arData['url'], '/');
?>
<script src="/engine/templates/adminv2/lib/tinymce/tinymce.min.js"></script>
<script src="/engine/templates/adminv2/lib/tinymce/langs/ru.js"></script>
<script type="text/javascript">
	ShowEditor();
	$(document).ready(function(){
		var redactor = 1;
		$('#control-redactor').on('click', function(){

			if(redactor == 1) {
             	tinymce.remove('.content');
             	$(this).text('Включить редактор');
            	redactor = 0;
			} else {
				ShowEditor();
             	$(this).text('Отключить редактор');
				redactor = 1;
			}

			return false;
		});
	});

	function ShowEditor(){
		tinymce.init({
    		selector: "textarea.content",
    		theme: "modern",
    		plugins: [
    		    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
    		    "searchreplace wordcount visualblocks visualchars code fullscreen",
    		    "insertdatetime media nonbreaking save table contextmenu directionality",
    		    "emoticons template paste textcolor"
    		],
    		toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist 	outdent indent | link image",
    		toolbar2: "print preview media | forecolor backcolor emoticons",
    		image_advtab: true,
		});
	}
</script>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary" data-collapsed="0">
			<div class="panel-heading">
				<div class="panel-title">
					<?php if(isset($this->arData['id']) && intval($this->arData['id']) <= 0) { ?>
						Создать страницу
					<?php } else { ?>
						Редактировать страницу
					<?php } ?>
				</div>
			</div>
			<div class="panel-body">
				<form role="form" method="POST" action="<?php echo $_SERVER['REQUEST_URI']?>" id="optionsForm" class="form-horizontal form-groups-bordered">
				<?php echo Rdl\Security\Security::getInstance()->getPostString();?>
					<div class="form-group">
						<label for="options_title" class="col-sm-3 control-label">Название страницы</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="options_title" name="title" placeholder="Название страницы" value="<?php echo $this->arData['title']?>">
						</div>
					</div>
					<div class="form-group">
						<label for="options_url" class="col-sm-3 control-label">URL страницы</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="options_url" name="url" placeholder="URL сайта" value="<?php echo $this->arData['url']?>">
						</div>
					</div>
					<div class="form-group">
						<label for="options_description" class="col-sm-3 control-label">Описание (description)</label>
						<div class="col-sm-5">
							<textarea placeholder="Описание страницы(description)" id="options_description" class="form-control" name="desc"><?php echo $this->arData['desc']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="options_keywords" class="col-sm-3 control-label">Ключевые (keywords)</label>
						<div class="col-sm-5">
							<textarea placeholder="Ключевые слова(keywords)" id="options_keywords" class="form-control" name="keywords"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="options_page" class="col-sm-3 control-label">Содержимое страницы<br />(<a href="#" id="control-redactor">Отключить редактор</a>)</label>
						<div class="col-sm-9">
							<textarea placeholder="Содержимое страницы" name="page" class="form-control content"><?php echo $this->arData['page']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="options_url" class="col-sm-3 control-label">Шаблон</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="options_url" placeholder="Шаблон страницы" name="template" value="<?php echo $this->arData['template']?>">
						</div>
					</div>
					<div class="form-group">
						<label for="options_keywords" class="col-sm-3 control-label">
							<a href="javascript:void(0);" onclick="$('.controller-act').toggle(1000)">Показать/скрыть</a>
						</label>
					</div>
					<div class="form-group controller-act"<?php echo (empty($this->arData['controller']) ? ' style="display: none;"':'')?>>
						<label for="options_keywords" class="col-sm-3 control-label">
							Контроллер
						</label>
						<div class="col-sm-3">
							<input type="text" placeholder="Контроллер" id="form-field-6" class="form-control" name="controller" value="<?php echo $this->arData['controller']?>">
						</div>
						<div class="col-sm-3">
							<input type="text" placeholder="метод" id="form-field-6" class="form-control" name="action" value="<?php echo $this->arData['action']?>">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5">
							<input type="submit" name="submit" value="Сохранить" class="btn btn-blue btn-block">
						</div>
					</div>
				</form>
				
			</div>
		
		</div>
	
	</div>
</div>

<? /* 
<div class="row">
	<div class="col-md-12">
		<!-- start: TEXT FIELDS PANEL -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="icon-external-link-sign"></i>
				<?php if(!empty($this->arData['id'])) { ?>
					Создать страницу
				<?php } else { ?>
					Редактировать страницу
				<?php } ?>
				<div class="panel-tools">
					<a class="btn btn-xs btn-link panel-close" onclick="window.location='/admin/pages/'" href="/admin/pages/">
						<i class="icon-remove"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form" action="<?php echo $_SERVER['REQUEST_URI']?>" method="POST" class="form-horizontal">
				<?php if(!empty($this->arData['id'])) { ?>
					<input type="hidden" name="id" value="<?php echo $this->arData['id']?>" />
				<?php } ?>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-1">
							Название
						</label>
						<div class="col-sm-9">
							<input type="text" placeholder="Название страницы" id="form-field-1" class="form-control" name="title" value="<?php echo $this->arData['title']?>" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-6">
							Адрес
						</label>
						<div class="col-sm-9">
							<input type="text" placeholder="Адрес страницы" id="form-field-6" class="form-control" name="url" value="<?php echo $this->arData['url']?>" required>
							<span class="help-block"><i class="icon-info-sign"></i> Адрес страницы в адресной строке http://sitename.ru/адрес </span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-22">
							Описание (description)
						</label>
						<div class="col-sm-9">
							<textarea placeholder="Описание страницы(description)" name="desc" class="form-control"><?php echo $this->arData['desc']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-22">
							Ключевые (keywords)
						</label>
						<div class="col-sm-9">
							<textarea placeholder="Ключевые слова(keywords)" name="keyword" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-22">
							Содержимое страницы
						</label>
						<div class="col-sm-9">
							<textarea placeholder="Содержимое страницы" name="page" class="form-control content"><?php echo $this->arData['page']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-6">
							Шаблон
						</label>
						<div class="col-sm-4">
							<input type="text" placeholder="Шаблон страницы" id="form-field-6" class="form-control" name="template" value="<?php echo $this->arData['template']?>" required>
							<span class="help-block"><i class="icon-info-sign"></i> Относительно выбранного шаблона Шаблон.phtml</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-6">
							<a href="javascript:void(0);" onclick="$('.controller-act').toggle(1000)">Показать/скрыть</a>
						</label>
					</div>
					<div class="form-group controller-act"<?php echo (empty($this->arData['controller']) ? ' style="display: none;"':'')?>>
						<label class="col-sm-2 control-label" for="form-field-6">
							Контроллер
						</label>
						<div class="col-sm-3">
							<input type="text" placeholder="Контроллер" id="form-field-6" class="form-control" name="controller" value="<?php echo $this->arData['controller']?>">
						</div>
						<div class="col-sm-3">
							<input type="text" placeholder="метод" id="form-field-6" class="form-control" name="action" value="<?php echo $this->arData['action']?>">
						</div>
					</div>
					<div class="form-group ">
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" class="btn btn-blue btn-block">
								Сохранить
							</button>
						</div>
						<div class="col-sm-2 col-sm-offset-2">
							<button type="button" class="btn btn-light-grey btn-block" onclick="window.location='/admin/pages/'">
								Отмена
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- end: TEXT FIELDS PANEL -->
	</div>
</div>
<? */ ?>