<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2-bootstrap.css" id="style-resource-1">
<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2.css" id="style-resource-2">
<table class="table table-bordered datatable" id="table-1">
	<thead>
		<tr>
			<th>Название</th>
			<th>URL</th>
			<th>Дата изменения</th>
			<th>Язык</th>
			<th style="width: 235px;">Действия</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach($this->arPages as $keyHash => $arPage) { ?>
		<?php
			$arPage['modify_date'] = new \DateTime("@".trim($arPage['modify_date']));
			$arPage['modify_date'] = $arPage['modify_date']->format('d.m.Y H:i:s');
		?>
		<tr class="odd gradeX" id="page-<?php echo $arPage['id']?>">
			<td><?php echo $arPage['title']?></td>
			<td><?php echo $arPage['url']?></td>
			<td><?php echo $arPage['modify_date']?></td>
			<td><?php echo $arPage['lang']?></td>
			<td>
				<a href="/admin/pages/edit/?id=<?php echo $arPage['id']?>" class="btn btn-default btn-sm btn-icon icon-left">
					<i class="entypo-pencil"></i>
					Редактировать
				</a>
				<a onclick="return confirm('Вы действительно хотите удалить страницу?');" href="/admin/pages/delete/?id=<?php echo $arPage['id']?>" class="btn btn-danger btn-sm btn-icon icon-left">
					<i class="entypo-cancel"></i>
					Удалить
				</a>
			</td>
		</tr>
	<?php } ?>
	</tbody>
</table>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/jquery.dataTables.min.js" id="script-resource-7"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/dataTables.bootstrap.js" id="script-resource-8"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2.min.js" id="script-resource-9"></script>
<script type="text/javascript">
	$(document).ready(function($)
	{
		$("#table-1").dataTable({
			"sPaginationType": "bootstrap",
			"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			"bStateSave": true,
			"aoColumns": [
  				null,
  				null,
  				null,
  				null,
  				{ "bSortable": false }
  			]
		});
		
		$(".dataTables_wrapper select").select2({
			minimumResultsForSearch: -1
		});
	});
</script>