<!-- start: LOGIN BOX -->
<script>
	$(document).ready(function(){
		var connect = 0;
		$('#loginForm').on('submit', function(){
			if(connect != 0) return false;
			
			if($('input[name=user_password]').val().length <= 0 || $('input[name=user_login]').val().length <= 0){
				toastr.warning("Введите Логин и Пароль!");
				return false;
			}

			connect = 1;
			$.ajax({
        		type: 'POST',
        		url: '/index.php',
        		data: $(this).serialize(),
        		dataType: 'json',
        		success: function(data){
        			if(data.Error == 'true'){
        				toastr.error(data.message, "Ошибка авторизации");
        				$('.csrf_detected_input').remove();
        				$('#loginForm').append(data.csfr_detect);
        				connect = 0;
        				return false;
        			}

        			toastr.success("Вы успешно авторизовались, подождите идет переадресация", "Успешная авторизация");
        			document.location.href = '/admin/';
        		}
      		});

        	return false;
		});
	});
</script>
<form method="post" role="form" id="loginForm">	
<?php echo Rdl\Security\Security::getInstance()->getPostString();?>	
<div class="errorHandler alert alert-danger" style="display: none"></div>		
	<div class="form-group">		
		<div class="input-group">
			<div class="input-group-addon">
				<i class="entypo-user"></i>
			</div>		
			<input type="text" class="form-control" name="user_login" id="username" placeholder="Логин" autocomplete="off" />
		</div>		
	</div>	
	<div class="form-group">		
		<div class="input-group">
			<div class="input-group-addon">
				<i class="entypo-key"></i>
			</div>
			<input type="password" class="form-control" name="user_password" id="password" placeholder="Пароль" autocomplete="off" />
		</div>	
	</div>	
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block btn-login">
			Войти
			<i class="entypo-login"></i>
		</button>
	</div>				
</form>
<div class="login-bottom-links">
	<a href="#" class="link">Забыли пароль?</a>
	<br />
	Powered by <a href="http://rdl-team.ru" target="_blank">RDL CMS</a>
</div>
<!-- end: LOGIN BOX -->