<ul class="mainMenu">
	<?php foreach($this->arMenu['line'] as $key => $Menu) { ?>
		<li><a href="<?php echo $Menu['link']?>" alt=""><?php echo $Menu['name']?>
			<?php if(!empty($Menu['info'])) { ?>
				<br><span class="sub"><?php echo $Menu['info']?></span>
			<?php } ?></a></li>
	<?php } ?>
</ul>